__pycache__/
*.py[cod]

db.sqlite3
**/migrations/*
!**/migrations/__init__.py

eval_utility/china_all_financial_data.csv
eval_utility/china_magic_formula_results.csv
eval_utility/china_stock_overview.csv
eval_utility/STHeiti_Medium_1.ttf

finance_report/data/china_all_financial_data.csv
finance_report/data/china_stock_overview.csv
finance_report/data/australia_stock_overview.csv
finance_report/data/australia_morning_star_reports_pdf
finance_report/data/australia_morning_star_reports_txt

.ipynb_checkpoints

*.DS_Store

.idea/
